@font-face {
    font-family:"Inter";
    src: url("../../fonts/Inter-Regular.woff2") format("woff2"),
           url("../../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
}

.page {
    background-color: #2A2C2F;
    font-family: "Inter";
    font-family:'Inter - bold';
    color: #FFFFFF;
}

   
    @font-face {
        font-family:'Inter - bold';
        src: url("../../fonts/Inter-Bold.woff2") format("woff2"),
                url("../../fonts/Inter-Bold.woff") format("woff");
        font-weight: bold;
    }
