.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-weight: 16px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    font-weight: 14px;
  }
}