.cover {
  margin: 92px auto 0;
  max-width: 100%;
  position: relative;
}
.cover:before {
  content: '';
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cover:hover:before {
  opacity: 0.8;
  cursor: pointer;
}
