.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin: 80px auto 0;
}

.place:nth-child(1) {
  margin: 0 auto 0;
}

@media screen and (max-width:1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width:1023px) {
  .place {
    margin: 72px 0 0;
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}


@media screen and (max-width:767px) {
  .place {
    margin: 48px 0 0;
    grid-template-columns: 320px;
    gap: 32px;
  }
}